<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="robots" content="noindex,nofollow">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1080">
  <title><%= data.title %></title>
  <link rel="dns-prefetch" href="https://cdn.rex.contents.rakuten.co.jp">
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/common/rex-red.min.css">
  <!-- ReX Button: stylesheet -->
  <link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-button/1.2.7/rex-button.min.css" />
  <!-- ReX Campaign Button: stylesheet -->
  <link rel="stylesheet" href="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/3.2.2/css/main.css" />
  <link rel="stylesheet" href="//static.card.jp.rakuten-static.com/card_corp/pc/css/contents/point/pointsave/shop-point/gurunavi/style.min.css">
</head>

<body>
  <main>
    <article>
      <section>
        <h1 class="text-center">
          <img src="//image.card.jp.rakuten-static.com/card_corp/pc/contents/point/pointsave/shop-point/gurunavi/logo_gnavi.svg" width="230" height="76" alt="ぐるなび"><span class="px-2 mr-2 font-weight-normal">×</span><img src="//image.card.jp.rakuten-static.com/card_corp/common/logo/logo_horizon-2.0.0.svg" width="276" height="50" alt="楽天カード">
        </h1>
        <section>
          <h2 class="ribbon">楽天カード会員様限定特典！</h2>
          <section class="store-information">
            <div class="row">
              <div class="store-thumbnail col-xs-6">
                <img src="<%= data.thumbnail %>" srcset="<%= data.thumbnailx2 %> 2x" width="407" height="271" alt="<%= data.store_name %>">
              </div>
              <div class="col-xs-6">
                <h3 class="store-name"><%= data.store_name %></h3>
                <div class="store-insentives">
                  ポイント<strong><%= data.insentive %></strong>倍
                </div>
                <p class="store-term">
                  <%- data.term %>
                </p>
              </div>
            </div>
            <div class="text-center">
              ※<a href="/e-navi/p/rc/e-navi/shop_point/171101_detail.html" target="_blank">進呈するポイントには上限や条件があります。詳細はこちら。<span class="gnavi-rexicon_new-window-l"></span></a>
            </div>
          </section>
          <noscript>
            このサービスではJavaScriptを使用しています。<br>
            JavaScriptの設定を有効にしてからご利用いただきますようお願いいたします。
          </noscript>
          <div class="row d-flex btn-area">
            <div class="col-xs-6 text-right">
              <!-- ReX Campaign Button: Mounting point -->
              <div id="rex-btn"></div>
            </div>
            <div class="col-xs-6">
              <a id="gnavi-link" href="" class="btn btn-lg btn-primary btn-outline" data-parameter="<%= data.parameter %>" data-hash="<%= data.hash %>">ぐるなびへ戻る</a>
            </div>
          </div>
          <div class="campaign-text mb-4">
            <p class="campaign-text--large mb-0"><strong class="large">エントリー</strong> &amp; <strong class="large">楽天カードでお支払い</strong>するだけ！</p>
            ご利用対象期間のお支払いであれば、<strong class="text-primary large">何度でも</strong>特典が受け取れます！
          </div>
          <div class="alert mb-1 bg-lightest small">
            <div><strong>ご注意事項</strong></div>
            <ul class="pl-3 mb-0">
              <li>
                本企画は常時開催となります。（予告なく変更または終了する場合がございます。）
              </li>
              <li>
                エントリーいただくと、いずれの対象店舗でのご利用もポイント進呈の対象となります。<a href="<%= data.scope_list %>" target="_blank">対象店舗はこちらをご確認ください。<span class="gnavi-rexicon_new-window-l small"></span></a>
              </li>
              <li>
                上記対象店舗での本特典の楽天スーパーポイントの上限は、楽天IDごとに50,000ポイントとさせていただきます。
              </li>
              <li>
                楽天e-NAVIの「楽天カードの優待店舗」ページで同時期にエントリーいただきましても、重複でのポイント進呈とはなりませんので、ご了承ください。（<a href="/e-navi/members/point/shop-point/index.xhtml" target="_blank">エントリー履歴はこちら<span class="gnavi-rexicon_new-window-l small"></span></a>）
              </li>
              <li>
                ポイントの進呈日は、<%= data.presentation_date %>頃です。
              </li>
              <li>
                楽天カードでのお支払いが対象となります。<a href="https://r10.to/gurunabixlo" target="_blank">楽天カードをお持ちでない方はこちら。<span class="gnavi-rexicon_new-window-l small"></span></a>
              </li>
            </ul>
          </div>
          <div class="text-right small">優待店舗コード:<%= data.code %></div>
        </section>
      </section>
    </article>
  </main>
  <!-- ReX Campaign Button: Config -->
  <script>
    var rexButtons = [{
      "id": "rex-btn",
      "cId": "<%= data.cId %>",
      "cCode": "<%= data.cCode %>",
      "theme": "red",
      "alreadyAppliedText": "エントリー済み"
    }];
  </script>
  <!-- ReX Campaign Button: script -->
  <script src="https://cdn.rex.contents.rakuten.co.jp/rex-ceb/3.2.2/js/main.js"></script>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/common/jquery-3.2.1.min.js"></script>
  <script src="//static.card.jp.rakuten-static.com/card_corp/pc/js/contents/service/shop-point/gurunavi/main.min.js"></script>
</body>

</html>